export PROJECT_ID="rnd-data-ml"
export REGION="europe"
export ZONE="europe-west3"
export PIPELINE_NAME="ml-pipeline"
export REPOSITORY="kf-pipelines"
export HOST="https://${REGION}-kfp.pkg.dev/${PROJECT_ID}/${REPOSITORY}"
export SERVICE_ACCOUNT="mlflow-service-account@rnd-data-ml.iam.gserviceaccount.com"
export STAGING_BUCKET="gs://kf-pipeline-runs"
